# Le stringhe

In Python le stringhe sono viste come una sequenza di caratteri, esse sono un tipo di dato che contiene funzioni per poterle utilizzare più comodamente

In [1]:
s='0123456789'
print(s[:5], s[1:-1], s[-2:])

01234 12345678 89

In [2]:
print(s[::2])

02468

In [3]:
l=[0,1,2,3,4,5,6,7,8,9]
l[2]='ciao'
print(l)

[0, 1, 'ciao', 3, 4, 5, 6, 7, 8, 9]

A differenza delle liste, le stringhe sono oggetti immutabili: non possiamo quindi assegnare valori in posti specifici

In [4]:
s[2]='x'

TypeError: 'str' object does not support item assignment

In [5]:
try:
    s[2] = 'x'
except:
    print('Le stringhe non possono essere modificate')

Le stringhe non possono essere modificate

Possiamo però andare a creare delle substring e concatenarle con le modifiche che vogliamo fare

In [6]:
s = s[:2] + 'x' + s[3:]
s

'01x3456789'

In [7]:
s2 = "Ciao"
s3 = 'Questo è un "esempio" di utilizzo di apici combinati'
s3

'Questo è un "esempio" di utilizzo di apici combinati'

### I caratteri speciali

All'interno delle stringhe possiamo utilizzare i caratteri di escape

In [8]:
s = '1 \n 2 \n  3 \n   auguri'
print(s)

1
 2
  3
   auguri

In [9]:
st = 'NOME\tCOGNOME\nNICOLA\tBANIN'
print(st)

NOME	COGNOME
NICOLA	BANIN

In [10]:
s="""Questa stringa ci permette di 
andare a capo e di utilizzare
'gli apici' singoli
"""
print(s)

Questa stringa ci permette di
andare a capo e di utilizzare
'gli apici' singoli

Si puo utilizzare l'operatore + per concatenare le stringhe e il * per ripeterla più volte

In [11]:
s='ciao'
print(s*3)

ciaociaociao

### Utili metodi per le stringhe

1. *join()* è un metodo delle stringhe che prende in ingresso una lista di stringhe e dà in output una stringa composta da tutti gli elementi della lista separati dalla stringa usata per chiamare il metodo. **stringa_separatore.*join*(lista_da_unire)**

2. *split()* separa una stringa in sottostringhe dove viene trovato un certo carattere e le mette in una lista. Se nessun carattere viene passato, di default *split()* divide la stringa dove trova uno spazio. **stringa_da_separare.*split*(stringa_separatore)**

3. *replace()* rimpiazza una sottostringa con un'altra, creando però una nuova stringa invece di modificare quella originale. **stringa_originale.*replace*(sottostringa_da_rimpiazzare)**

4. *find()* dice l'indice da cui parte una sottostringa (il metodo corrispettivo per le liste è *index()*). **stringa_originale.*find*(sottostringa_da_cercare)**

5. *strip()* elimina un determinato carattere all'inizio e alla fine di una stringa. Se non viene passato nessun parametro, *strip()* di default elimina gli spazi all'inizio e alla fine. **stringa_originale.*strip*(carattere_da_eliminare)**

Si può anche sovrascrivere il comportamento degli operatori fondamentali

In [12]:
l=[0,1,2,3,4,5,6,7,8,9]
st = '-'.join([str(v) for v in l]) #join permette invece di separare gli elementi della stringa di partenza con un elemento dato in input 
print(st)

0-1-2-3-4-5-6-7-8-9

In [13]:
st= '                  pieno di spazi              '
st

'                  pieno di spazi              '

In [14]:
print(st.strip()) #questa funzione elimina gli spazi all'inizio e fine della stringa

pieno di spazi

In [15]:
st2=st.replace('pieno','vuota')
print(st2)

                  vuota di spazi

In [16]:
#join() unisce gli elementi di una lista, per separare i caratteri di una stringa e metterli in una lista si deve usare split()
l=['a','b','c','d']
nuova_stringa = '-'.join(l)
print(nuova_stringa)

a-b-c-d

In [17]:
nuova_lista=nuova_stringa.split('-')
print(nuova_lista)

['a', 'b', 'c', 'd']

Vediamo ora un operatore utile sugli insiemi

# Le tuple

Le tuple sono elementi ordinati e *immutabili*, cioé non posso cambiarne gli elementi una volta dichiarate.\
A livello sintattico, si comportano molto similmente alle liste, che possono essere viste come la controparte "mutabile" delle tuple.\
Entrambe, inoltre, possono essere vuote o contenere elementi ripetuti.

In [18]:
t=(1, 43, 9, 25, 98)
print('in usato per le tuple', 5 in t, 1 in t)

in usato per le tuple False True

In [19]:
l=[el for el in t]
print('in usato per le liste', 5 in t, 1 in t)

in usato per le liste False True

In [20]:
s=''.join([str(n) for n in t])
print('in usato per le stringhe', '5' in s, '1' in s) #li vede come singole cifre-carattere
print(s)

in usato per le stringhe True True
14392598

Per inizializzare una tupla contenente un singolo elemento è necessario includere nella dichiarazione una virgola, in caso contrario le parentesi verranno interpretate come un'espressione e non come una dichiarazione di tupla

In [21]:
tupla_mini = (2,)
print(tupla_mini)

(2,)

##### Posso usare la comprehension per i tuple?

Non si può. I tuple sono immutabili, quindi devo passare tutti gli elemeni per l'inizializzazione nello stesso momento, non posso crearne e aggiungerne uno alla volta.

OSS: è sempre possibile convertire un oggetto in uno di un altro tipo

# Gli insiemi
Come le tuple sono strutture immutabili con operatori specifici. La differenza consiste nel fatto che essi non possono contenere duplicati degli elementi: non tiene conto di occorrenze multiple

In [22]:
insieme={0,0,1,1,0}
print(insieme)

{0, 1}

In [23]:
# il set non è "ordinato" --> NO INDICE!
try:
    group[0]
except Exception as e:
    print('operazione non possibile perché:', e)

operazione non possibile perché: name 'group' is not defined

### LISTA vs SET

Perché preferire un set a una lista?\
I set sono ottimizzati per la ricerca di elementi in essi.

In [24]:
l_grande = list(range(10**5))
s_grande = set(range(10**5))

In [25]:
import time

# prendi il timestamp all'inizio
start = time.time() 

# cerca elemento in lista
9999 in l_grande

# prendi il timestamp 
end = time.time() 

print('ricerca eseguita in', end-start, 's')

ricerca eseguita in 0.0 s

In [26]:
# prendi il timestamp all'inizio
start = time.time() 

# cerca elemento in lista
9999 in s_grande

# prendi il timestamp 
end = time.time() 

print('ricerca eseguita in', end-start, 's')

ricerca eseguita in 0.0 s

***Invece di usare il modulo "time", posso usare la funzione speciale per celle di Jupyter chiamata "%%time".***

In [27]:
%%time
9999 in l_grande

CPU times: total: 0 ns
Wall time: 0 ns

True

In [28]:
%%time
9999 in s_grande

CPU times: total: 0 ns
Wall time: 0 ns

True

### OPERATORI LOGICI

In [29]:
s1 = {1, 2, 3}
s2 = {3, 4, 5, 6}

In [30]:
# UNIONE (or)
print(s1 | s2)

{1, 2, 3, 4, 5, 6}

In [31]:
# INTERSEZIONE (and)
print(s1 & s2)

{3}

In [32]:
# COMPLEMENTARE (xor)
# cioé cercare gli elementi non in comune

print(s1 ^ s2)

{1, 2, 4, 5, 6}

#### SET COMPREHENSION

Così come per le liste, anche per i set è possibile usare fare l'inizializzazione tramite comprehension.

In [33]:
s_quad = {n**2 for n in range(10)}
print(s_quad)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}