# Le stringhe

In Python le stringhe sono viste come una sequenza di caratteri, esse sono un tipo di dato che contiene funzioni per poterle utilizzare più comodamente

In [3]:
s='0123456789'
print(s[:5], s[1:-1], s[-2:])

01234 12345678 89

In [4]:
print(s[::2])

02468

In [6]:
l=[0,1,2,3,4,5,6,7,8,9]
l[2]='ciao'
print(l)

[0, 1, 'ciao', 3, 4, 5, 6, 7, 8, 9]

A differenza delle liste, le stringhe sono oggetti immutabili: non possiamo quindi assegnare valori in posti specifici

In [8]:
s[2]='x'

TypeError: 'str' object does not support item assignment

In [9]:
try:
    s[2] = 'x'
except:
    print('Le stringhe non possono essere modificate')

Le stringhe non possono essere modificate

Possiamo però andare a creare delle substring e concatenarle con le modifiche che vogliamo fare

In [10]:
s = s[:2] + 'x' + s[3:]
s

'01x3456789'

In [12]:
s2 = "Ciao"
s3 = 'Questo è un "esempio" di utilizzo di apici combinati'
s3

'Questo è un "esempio" di utilizzo di apici combinati'

All'interno delle stringhe possiamo utilizzare i caratteri di escape

In [18]:
s = '1 \n 2 \n  3 \n   auguri'
print(s)

1
 2
  3
   auguri

In [21]:
st = 'NOME\tCOGNOME\nNICOLA\tBANIN'
print(st)

NOME	COGNOME
NICOLA	BANIN

In [23]:
s="""Questa stringa ci permette di 
andare a capo e di utilizzare
'gli apici' singoli
"""
print(s)

Questa stringa ci permette di
andare a capo e di utilizzare
'gli apici' singoli

Si puo utilizzare l'operatore + per concatenare le stringhe e il * per ripterla più volte

In [24]:
s='ciao'
print(s*3)

ciaociaociao

Si può anche sovrascrivere il comportamento degli operatori fondamentali

In [28]:
l=[0,1,2,3,4,5,6,7,8,9]
st = '-'.join([str(v) for v in l]) #join permette invece di separare gli elementi della stringa di partenza con un elemento dato in input 
print(st)

0-1-2-3-4-5-6-7-8-9

In [30]:
st= '                  pieno di spazi              '
st

'                  pieno di spazi              '

In [32]:
print(st.strip()) #questa funzione elimina gli spazi all'inizio e fine della stringa

pieno di spazi

In [35]:
st2=st.replace('pieno','vuota')
print(st2)

                  vuota di spazi

In [39]:
#join() unisce gli elementi di una lista, per separare i caratteri di una stringa e metterli in una lista si deve usare split()
l=['a','b','c','d']
nuova_stringa = '-'.join(l)
print(nuova_stringa)

a-b-c-d

In [40]:
nuova_lista=nuova_stringa.split('-')
print(nuova_lista)

['a', 'b', 'c', 'd']

Vediamo ora un operatore utile sugli insiemi

# Le tuple

In [41]:
t=(1, 43, 9, 25, 98)
print('in usato per le tuple', 5 in t, 1 in t)

in usato per le tuple False True

In [42]:
l=[el for el in t]
print('in usato per le liste', 5 in t, 1 in t)

in usato per le liste False True

In [47]:
s=''.join([str(n) for n in t])
print('in usato per le stringhe', '5' in s, '1' in s) #li vede come singole cifre-carattere
print(s)

in usato per le stringhe True True
14392598

Per inizializzare una tupla contenente un singolo elemento è necessario includere nella dichiarazione una virgola, in caso contrario le parentesi verranno interpretate come un'espressione e non come una dichiarazione di tupla

In [49]:
tupla_mini = (2,)
print(tupla_mini)

(2,)

OSS: è sempre possibile convertire un oggetto in uno di un altro tipo

# Gli insiemi
Come le tuple sono strutture immutabili con operatori specifici. La differenza consiste nel fatto che essi non possono contenere duplicati degli elementi: non tiene conto di occorrenze multiple

In [50]:
insieme={0,0,1,1,0}
print(insieme)

{0, 1}